<div class="loginForm">
    <form novalidate [formGroup]="adminLoginForm" (ngSubmit)="saveEmployee()">
        <fieldset>

            <div class="container">
                <h1>LOG In</h1>
                <div class="box">
                    <i class="fa fa-user"></i>
                    <input type="number" name="id" id="id" placeholder="Entre Your id" formControlName="id">
                    <div class="alert alert-danger" *ngIf="adminLoginForm.get('id').hasError('required') &&
                   adminLoginForm.get('id').dirty">
                        Phone is Required
                    </div>
                    <!-- <hr> -->
                </div>
                <div class="box">
                    <i class="fa fa-key"></i>
                    <input type="password" name="password" id="password" placeholder="Entre Your Password"
                        formControlName="password">
                    <div class="alert alert-danger" *ngIf="adminLoginForm.get('password').hasError('required') &&
                   adminLoginForm.get('password').dirty">
                        Phone is Required
                    </div>
                    <!-- <hr> -->
                </div>
                <button type="submit" class="btn">Submit</button>
            </div>
        </fieldset>
    </form>

</div>